 <%= form_for @picture, :html => { :multipart => true } do |f| %>
<div class="fieldforhide">
          <%= f.label :title %>
          <%= f.text_field :title %></br>

          <%= f.label :description %>
          <%= f.text_field :description %>

        </div>
        <%end%>