	<div style="float:right; display:block; width:20%; height:auto;">
		<div class ="sidebar">
			<b><%= current_user.email%> ||
				<%=current_user.user_address%>,
	 			 You have left <%= render "size"%>
	 	</div>
	</div>
	<h2>New pictures</h2>
	<h3> Use Drag to store the Images </h3>
	<%= render 'form' %>
	<%= link_to ' Home', pictures_path %>