<p id="notice"><%= notice %></p>
<p>
	<b>Title:</b>
	<%=@picture.title%>
</p>
<p>
  <b></b>
  <b> Image size</b>
  <%=(@picture.file.size)/100000.0%> MB
</p>
 <p>
  <%= image_tag(@picture.file_url(:medium)) %>
</p>
<%= link_to 'Back', pictures_path %><br/>
<%= link_to 'Download', :action => :download, :id => @picture.id %>