<p id="notice"><%= notice %></p>


<%# if can? :update, @picture %>
<%#= link_to "Edit", edit_picture_path(@picture)%>
<%# end %>

<%#if can? :update, @picture %>
<<<<<<< HEAD
<%#= link_to "Edit", edit_picture_path(@picture)%>
=======
<%#=# link_to "Edit", edit_picture_path(@picture)%>
>>>>>>> bdaf60e220f1acd1225202619e80921664e2a5c1
<%# end %>


<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>File:</b>
  <%= image_tag(@picture.file_url(:medium)) %>
</p>


<%#= link_to 'Edit', edit_picture_path(@picture) %> 
<%= link_to 'Back', pictures_path %>
